/out/production/Progra2_22_09_B/FileFormatException.class
/out/production/Progra2_22_09_B/Main.class
/.idea/misc.xml
/.idea/modules.xml
/P2 - Aufgabenzettel 9.pdf
/.idea/vcs.xml
/out/production/Progra2_22_09_B/Vector3D.class
/out/production/Progra2_22_09_B/Videogamemanager$ParseLineInCSVException.class
/out/production/Progra2_22_09_B/Videogamemanager$Videogame.class
/out/production/Progra2_22_09_B/Videogamemanager.class
